{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list_group">
        <a href="{% url 'washing'%}" class="list-group-item
        list-group-item-action" aria-current="true">All washing Machine</a>
        <a href="{% url 'washing' 'LG' %}" class="list-group-item list-group-item-action" aria-current="true">LG</a>
        <a href="{% url 'washing' 'Samsung' %}" class="list-group-item list-group-item-action" aria-current="true">Samsung</a>
        <a href="{% url 'washing' 'below' %}" class="list-group-item list-group-item-action" aria-current="true">Below 10000</a>
        <a href="{% url 'washing' 'above' %}" class="list-group-item list-group-item-action" aria-current="true">Above 10000</a>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
        {% for product in washing %}
        <div class="col-sm-4 text-center mb-4">
            <a href="{% url 'product-detail' product.id %}">
                <div class="item">
                    <img src="{{product.product_image.url}}" alt="" height="300" class="">
                    <div class="fw-bold">{{product.title}}</div>
                    <div class="fw-bold">Rs.{{product.selling_price}} <small class="fw-light text-decoration-line-through"></small></div>
                </div>
                </a>
            </div>
            {% endfor %}
    </div>
  </div>
</div>
{% endblock main-content %}