.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}
.custom-collapse {
    width: 100%; /* Adjust width as needed */
    max-width: 1200px; /* Set a maximum width if desired */
    margin: 0 auto; /* Center the content horizontally */
  }
  
  /* Optional: Adjust spacing */
.custom-collapse .navbar-nav {
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
  }
